<% var num=0;%>
<section class="posts uk-width-3-5 ">
  <% page.posts.each(function (post) { %>
    <article class="post">
    <a class="post-title-link" href="<%- url_for(post.path) %>">
    <%num+=1;%>
    <%if(num%2==1){%>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-card-hover" uk-grid style="border-radius: 25px;">
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://api.ixiaowai.cn/api/api.php?random=<%- Math.random();%>" alt="" uk-cover style="height: 95%; width: 95%;">
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <a class="post-title-link" href="<%- url_for(post.path) %>">
            <div class="uk-card-body">
                <h3 class="uk-card-title"><%= post.title %></h3>
                <p><%- post.content.substr(0,500)  %></p>
                <div class="post-meta">
                  <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
                </div>
            </div>
          </a>
        </div>
      </div>
    <% }else if(num%2==0||num==2){%>
      <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid style="border-radius: 25px;">
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img style="" src="https://img.xjh.me/random_img.php?type=bg&ctype=nature&return=302&random=<%- Math.random();%>" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title"><%= post.title %></h3>
                <p><%- post.content.substr(0,500) %></p>
                <div class="post-meta">
                  <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
                </div>
            </div>
        </div>
    </div>
    <% } %>
  </a>
</article>
  <% }) %>
</section>